/logs/
/crash-reports/
/tacz_backup/
/defaultconfigs/
/server-resource-packs/
/schematics/
/blueprints/
/xaero/
/saves/
/config/yes_steve_model/cache/
/config/embeddium-fingerprint.json
/config/embeddium-options.json
/config/embeddium-mixins.properties
/config/oculus.properties
/config/xaerominimap_entities.json
/config/immediatelyfast.json
/config/ferritecore-mixin.toml
/config/entityculling.json
/config/fabric/indigo-renderer.properties
/XaeroWaypoints*/
options.txt
usercache.json
usernamecache.json
fabricloader.log
servers.dat
servers.dat_old
/config/fabric
/config/remote_player_waypoints_for_xaero
/config/jei
