logs/
crash-reports/
tacz_backup/
defaultconfigs/
server-resource-packs/
schematics/
blueprints/
xaero/
saves/
options.txt
usercache.json
usernamecache.json
config/yes_steve_model/cache
XaeroWaypoints*/
config/embeddium-fingerprint.json
config/embeddium-options.json
config/embeddium-mixins.properties
config/oculus.properties
config/xaerominimap_entities.json
config/immediatelyfast.json
config/ferritecore-mixin.toml
config/entityculling.json
fabricloader.log
